body {
    font-size: 16px; 
  }
  
  h2 {
    font-size: 20px; 
    font-family: sans-serif;
    font-style: oblique;
  }

.card-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  .card {
    width: 1000px;
    margin-top: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #ffffff;
  }
  
  .task-section {
    display: flex;
    align-items: center;
  }
  
  .task-name {
    flex: 1; 
    font-weight: bold;
  }
  
  .timer {
    margin-right: 20px; 
    color: #5056ED;
  }
  
  .button-section {
    display: flex;
  }
  
  .start-stop-button {
    width: 136px;
    height: 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .start {
    background-color: #5056ED;
    color: white;
  }
  
  .stop {
    background-color: #ED5050;
    color: white;
  }
  .button-cross{
    font-size: 25px;
    width: 40px;
    border-radius: 25px;
  }
  
  .history-section {
    margin-top: 20px; 
  }
  